modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Java App"

[[workflows.workflow]]
name = "Run Java App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java Main.java"

[workflows.workflow.metadata]
outputType = "console"
